body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.2em;
    padding: 0;
    margin: 0;
}

header{
    background: #35424a;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}
/* header a{
    text-decoration: none;
    color: aliceblue;
}  */

/* header a:hover{
    color: bisque;
} */


#image{
    max-width: 100%;
    height: 400px;
    background-image: url('images/image6.jpg');
    background-size: 100% 100%;
    border: 1px solid red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px 0 0 300px;
    color:black;
    display: block;
}

.container{
    width: 80%;
    margin: auto;
    /* max-width: 400px; */
    overflow: hidden;
}

#search{
    background: #35424a;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
    text-align: center;
}

h2{
    text-align: center;
}

#myInput{
    text-align: center;
    width: 400px;
    height: auto;
    padding: 10px;
}

.imageword{
    margin: auto;
    float: right;
}


/* css for details */

.weather_report{
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: #ffe4c491;
    font-family:'Special Elite', cursive;
    /* padding: 10px 0; */
}

h2{
    padding: 10px 0px 0px 0px;
}

.timezone{
    margin: 10px 0px;
}
.weather{
    margin: 10px 0px;
}
.tempC{
    margin: 10px 0px;
}
.tempF{
    padding: 10px 0px;
}
.error{
    padding: 50px 0px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foot{
    padding: 20px;
    margin-top: 0px;
    color: black;
    text-align: center;
    background-color: bisque;
}

footer a{
    text-decoration: none;
} 
#map {
    display: none;
}

.home{
    float: right;
    color: aliceblue;
    display: none;
}


header a:link{
    color: #e8491d;
    text-decoration: none;
    font-weight: bold;
}
header a:hover{
    color: red;
    font-style: italic;
}

header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 5px 0 5px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .logo{
    float: left;
}
header .logo h1{
    margin: 0;
}

/* html, body, #map {
    width: 100%; height: 100%; padding: 0; margin: 0;
} */