body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.2em;
    padding: 0;
    margin: 0;
    background: #eeedec;
}

header{
    background: #35424a;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}

.home{
    float: right;
    color: aliceblue;
}

.container{
    width: 80%;
    margin: auto;
    /* max-width: 400px;
    height: auto; */
    overflow: hidden;
} 
header a:link{
    color: #e8491d;
    text-decoration: none;
    font-weight: bold;
}
header a:hover{
    color: red;
    font-style: italic;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}
header .logo{
    float: left;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .logo h1{
    margin: 0;
}

.card{
    border-radius: 20px; 
    box-shadow: 10px;
    margin-top: 10px;
}

.details{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin: 0px 0px 30px 0px;
    background-color: whitesmoke;
    padding: 10px 0;
}
h5{
    margin: 30px 0px;
}

.timezone{
    margin: 20px 0px;
}
.weather{
    margin: 20px 0px;
}
.tempC{
    margin: 20px 0px;
}
.tempF{
    margin: 20px 0px;
}
.search{
    width: 80%;
    margin: auto;
    max-width: 400px;
    height: auto;
    overflow: hidden;
}


